/* --------------- *\
    CHAMADA           
\* --------------- */

.chamada {
    font-size: 1.4rem; /* 1.4 * 10px = 14px */
    text-align: center;
}

@media(min-width: 992px) {
    .chamada {
        padding-right: 15%;
        padding-left: 15%;

        font-size: 3rem;
    }
}

.chamada__titulo {
    font-size: 2.5714em; /* 36px / 14px */
    line-height: 1;

    color: #fff;
}


.chamada__subtitulo {
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;

    font-size: 1.1428em;

    color: #f2f2f2;
}

.chamada__acao {
    font-size: 0.7142em;
}


/* --------------- *\
    DEPOIMENTO
\* --------------- */

.depoimento {
    font-size: 1.6rem;
}

@media (min-width: 992px) {
    .depoimento {
        font-size: 3rem;
    }
}

.depoimento__frase {
    position: relative;
    margin: 0;
    padding: 0 8%;
    font-size: 1em;
}


.depoimento__frase::before {
    position: absolute;
    left: 0; 
    top: -0.3em;
    
    font-size: 5em;
    
    color: #595959;

    content: "\201C";
}

.depoimento__foto-autor {
    margin-top: 20px;

    border-radius: 50%;
}

.depoimento__nome-autor {
    margin-top: 2px;

    font-size: 0.75em; /* 14px / 16px */

    color: #333;
}


/* --------------- *\
    PLANOS           
\* --------------- */

.plano {
    position: relative;

    border: 1px solid #c3c3c3;
    font-size: 1.4rem;
}

.plano__cabecalho {
    /* Posicionamento */

    /* Display e Box Model */
    padding: 10px;
    margin: 0;

    /* Cores */
    background-color: #b3b3b3;
    color: #f2f2f2;

    /* Texto */
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    /* Outros */
}

.plano__preco {
    font-size: 2.4em;
    text-align: center;
    padding: 20px;
}

.plano__caracteristicas {
    list-style-type: none;
    padding: 0;
}

.plano__caracteristicas > li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
    padding: 10px 0;
}

.plano--mais-popular::before {
    position: absolute;
    top: -10px;
    left: -10px;
    
    padding: 0 10px;

    font-size: 0.8571em;
    line-height: 2;

    background-color: #a3180b;
    color: #fff;
    
    content: "MAIS POPULAR"
}

/* --------------- *\
    RODAPE
\* --------------- */

.rodape {
    color: #fff;

    text-align: center;
}


/* --------------- *\
    BOTAO
\* --------------- */

.botao {
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding: 0.8em 1.3em;

    background-color: #ccc;
    color: #000;
    
    font-size: 1em;
    line-height: normal;
    
    text-decoration: none;
}

.botao--login,
.botao--assinar {
    background-color: #469e5e;
    color: #fff;
}

.botao--login:hover, .botao-login:focus,
.botao--assinar:hover, .botao-assinar:focus {
    background-color: #346e43;
}

.botao--assinar-plano,
.botao--conhecer-planos {
    background-color: #223475;
    color: #fff
}
.botao--assinar-plano:hover, .botao--assinar-plano:focus,
.botao--conhecer-planos:hover, .botao--conhecer-planos:focus {
    background-color: #37498a;
}

/* --------------- *\
    NAVEGACAO
\* --------------- */

.navegacao__menu {
    float: right;
}

/* --------------- *\
    BOTAO-CHAVEADOR
\* --------------- */

.botao-chaveador {
    width: 24px;
    height: 24px;

    background: none;
    border: 0;
    background-image: url("../images/bars.png");

    outline: none;
}

@media (min-width: 992px) {
    .botao-chaveador {
        display: none;
    }
}


/* --------------- *\
    MENU
\* --------------- */

.menu {
    margin: 0;
    
    font-size: 1.6rem;

    list-style: none;
}

@media (max-width: 991px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        
        display: none;
        padding: 20px;
        width: 200px;
        border-right: 1px solid #bbb;
        
        background-color: #f2f2f2;
    }
    
    .menu--exibindo {
        display: block;
    }

    .menu__item {
        display: block;

        line-height: 3;
    }
    
    .menu__item--botao {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .menu__item {
        display: inline-block;
        
        padding-right: 30px;
    }

    .menu__item:last-of-type {
        padding-right: 0;
    }
}


/* --------------- *\
    NAVEGACAO
\* --------------- */

.navegacao--assinatura {
    text-align: center;
}



/* --------------- *\
    FORMULARIO
\* --------------- */

.formulario {
    font-size: 1.125em; /* 18px / 16px */
}
.formulario__titulo {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #37498a;
    border-bottom: 1px solid #ccc;
}

.formulario__campo {
    margin: 0;
    padding: 10px 0;

    font-size: 1.6rem; /* 16px / 10px */
}

.formulario__campo > label {
    display: block;
    font-weight: bold;
    color: #595959;
}

.formulario__campo > input {
    width: 100%;
    height: 2.5rem;
    padding: 2px;

    font-size: 1.4rem;
}

.formulario__campo > select {
    width: 100%;
}

.formulario__botao {
    margin: 40px 0;
    text-align: center;
}
