/* --------------- *\
    PLANOS           
\* --------------- */

.plano {
    border: 1px solid #c3c3c3;
    font-size: 1.4rem;
}

.plano__cabecalho {
    /* Posicionamento */

    /* Display e Box Model */
    margin: 0;
    padding: 10px;

    /* Cores */
    background-color: #b3b3b3;
    color: #f2f2f2;

    /* Texto */
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    /* Outros */
}

.plano__preco {
    font-size: 2.4em;
    text-align: center;
    padding: 20px;
}

.plano__caracteristicas {
    list-style-type: none;
    padding: 0;
}

.plano__caracteristicas > li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
    padding: 10px 0;
}


/* --------------- *\
    BOTAO
\* --------------- */

.botao {
    background-color: #ccc;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    color: #000;
    padding: 0.8em 1.2em;
    text-decoration: none;
}

.botao--assinar {
    background-color: #469e5e;
    color: #fff;
}

.botao--assinar:hover, .botao-assinar:focus {
    background-color: #346e43;
}