.layout-cabecalho {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 9999;
    
    padding-top: 7px; /* TODO: corrigir altura da logo e remover esse padding*/
    border-bottom: 1px solid #ccc;

    background-color: #fff;
}

.layout-chamada {   
    padding: 80px 0;
    margin-top: 60px;
    background-color: #469e5e;
}

.layout-depoimento {
    padding: 80px 0;

    background-color: #e3e3e3;
}

.layout-planos {
    padding: 2% 0;
}

.layout-rodape {
    padding: 10px 0;
    
    background-color: #595959;
    
    border-top: 1px solid #ccc;
}